{% extends 'base.html' %}

{% block content %}
	<h3>IT's about me</h3>
	<p>This is my story...</p>
	<p>
		{{ my_text }} , {{ my_number }} , {{ this_is_true }}
		<br>
			{{ my_html|safe }}
		<br>
			{{ my_html|striptags|slugify }}
		<br>
			{{ my_html|safe|truncatechars_html:8 }}
		<br>
		<ul>
		{% for my_sub_item in my_list %}
			<li>{{ my_sub_item }}</li>
		{% endfor %}
		</ul>

		<!-- or -->
		<ul>
		{% for my_sub_item in my_list %}
			{% if my_sub_item == 123 %}
				<li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
			{% elif my_sub_item == "Abc" %}
				<li>{{ forloop.counter }} - This is not the network</li>
			{% else %}
				<li>{{ forloop.counter }} - {{ my_sub_item }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	</p>
{% endblock %}